[Unit]
Description=Notify when a new Go version is available.
Documentation=https://github.com/heisantosh/goup
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=goup

[Install]
WantedBy=multi-user.target
